@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box  
}
:root {
  --font-JetBrains: 'JetBrains Mono', monospace;
}

body {
  font-family: var(--font-JetBrains), sans-serif;
}

.dark body {
  font-family: var(--font-JetBrains), sans-serif;
  /* تأكد من أن الوضع الليلي لا يغير الـ font-family */
}

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose  ;
  }
  h1{
    @apply text-[40px] xl:text-[45px] leading-[1-1];
  }
  h2{
    @apply text-[30px] xl:text-[35px] leading-[1-1]
  }
  h3{
    @apply text-[20px] xl:text-[25px] leading-[1-1]
  }
  h4{
    @apply text-[15px] xl:text-[12px] leading-[1-1]
  }
}
.text-outline{ 
  -webkit-text-stroke:1px #ffffff;
}